.card-color {
    background-color: #FFF6EA;
}

.card-header-footer-color {
    background-color: #f5e1c8 !important;
}

.card-content {
    display: flex;
}

.image-div {
    flex: 0.5 1.5;
}

.content-div {
    flex: 1 1;
}

.rounded-circle {
    border-radius: 50% !important;
}

.profile-img {
    margin: 5px;
    margin-left: 20px;
}

.title-content {
    margin-top: 5px;
}