.title-search-div {
    display: flex;
}

h1 {
    flex: 1 1;
}

.search-div {
    flex: 1 1;
}

.search-div {
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
}

.search-input {
    margin-right: 0.25em;
    width: 218px;
}